body {
  padding-top: 110px;
}

/* HERO SLIDERS */
.hero .swiper-pagination-bullet {
  background-color: #DB4444 !important;
}

.hero .swiper-pagination-bullet-active {
  background-color: #DB4444 !important;
}

/* hover effect */
.h-text-red:hover {
  color: #DB4444;
  transition-duration: 200ms;
}

.h-bg-red:hover {
  color: #ffffff;
  background: #E07575;
  transition-duration: 200ms;
}

/* small header */
.small-header > *:not(:last-of-type)::after {
  content: '/';
  position: absolute;
  right: -20px;
  top: 0;
}

.small-header > * {
  position: relative;
}

.small-header > *:last-of-type {
  color: black;
}

/* HOVER AFTER */
.h-bg-white-a:hover > span {
  background: white;
  transition: 200ms;
  color: black;
}
.h-bg-white-a:hover > span::after {
  opacity: 50%;
}